
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ChaclaForever</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla|Mandali|PT+Sans|Vollkorn&display=swap" rel="stylesheet">
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <!--Favicon.ico*-->
    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Custom styles for this template -->
    <link href="css/freelancer.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- SOCIAL SHIT -->
    <div class="social">
        <ul>
            <li class="facebook">
                <a href="fb.com/MCC-Chacla-Forever-513978959017333/" target="_blank">
                    <!-- <i class="fa fa-facebook fa-2x rot"></i> -->
                    <i class="fab fa-facebook-f fa-2x rot"></i>
                </a>
            </li>
            <li class="twitter">
                <a href="https://twitter.com/LimaGayNet" target="_blank">
                    <i class="fab fa-twitter fa-2x rot"></i>
                </a>
            </li>
            <li class="youtube">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    <i class="fab fa-youtube fa-2x rot"></i>
                </a>
            </li>
            <li class="instagram">
                <a href="https://www.instagram.com/lgbt/?hl=es-la" target="_blank">
                    <i class="fab fa-instagram fa-2x rot"></i>
                </a>
            </li>
            <li class="pinterest">
                <a href="#" target="_blank">
                    <i class="fab fa-pinterest fa-2x rot"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-light fixed-top" id="mainNav">
        <div class="container mr-0 pr-0">
            <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a> -->
            <a class="navbar-brand" href="/">
                <img src="~/img/portfolio/logo_cro.png" alt="">
            </a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-dark text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <!-- DROPDOWN NOSOTROS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-users"></i> Nosotros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nosotros dropdown-item" href="#historia">Historia</a>
                            <a class="nosotros dropdown-item" href="#mision-vision">Mision y Vision</a>
                            <a class="nosotros dropdown-item" href="#objetivos">Objetivos</a>
                        </div>
                    </li>

                    <!-- DROPDOWN SERVICIOS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Servicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/servicios">Vinculación y Tamizaje</a>
                            <a class="dropdown-item" href="/servicios">Capacitación</a>
                            <a class="dropdown-item" href="/servicios">Incidencia Política</a>
                        </div>
                    </li>

                    <!-- DROPDOWN PROYECTOS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle rounded" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-home"></i> Proyectos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/proyectos">Proyectos de Sustentabilidad</a>
                            <a class="dropdown-item" href="/productos">Productos</a>
                        </div>
                    </li>
                    
                    <!-- BOTON CONTÁCTANOS -->
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-2 px-0 px-lg-1 rounded js-scroll-trigger" href="#contact">
                            <i class="fas fa-id-card"></i> Contáctanos
                        </a>
                    </li>

                    <!-- BOTON ACTIVIDADES -->
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-2 px-0 px-lg-1 rounded js-scroll-trigger" href="/actividades">
                            <i class="fas fa-id-card"></i> Actividades
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Portfolio Grid Section -->
    @*<section class="portfolio pt-5 mt-5" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Servicios</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto mb-2" href="#portfolio-modal-1">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/prueba.png" alt="">
                    </a>
                    <h4 class="text-uppercase text-center mb-4">Prueba de VHI</h4>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto mb-2" href="#portfolio-modal-2">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/deportes.png" alt="">
                    </a>
                    <h4 class="text-uppercase text-center mb-4">Talleres gratuitos</h4>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto mb-2" href="#portfolio-modal-3">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/eventos.png" alt="">
                    </a>
                    <h4 class="text-uppercase text-center mb-4">Eventos</h4>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fas fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/game.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>*@


    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0" style="overflow: hidden">
                    <h4 class="text-uppercase mb-4">Nuestro Facebook</h4>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMCC-Chacla-Forever-513978959017333%2F%3Fref%3Dbr_rs&tabs&width=340&height=70&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" 
                            width="340" height="70" style="border:none;overflow:hidden" 
                            scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
                    </iframe>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Encuentranos en:</h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://fb.com/MCC-Chacla-Forever-513978959017333/">
                                <i class="fab fa-fw fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fab fa-fw fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">También te puede Interesar</h4>
                    <a href="http://startbootstrap.com"><i class="fas fa-arrow-right"></i> lavidaesuna.pe</a>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <h6>Copyright &copy; MCC ChaclaForever / by <a href="#">Mbr</a></h6>
        </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="mision-vision">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-12 mx-auto p-0">
                        <h2 class="text-secondary mb-0">Mision y Visión</h2>
                        <hr class="star-dark mb-4">

                        <div class="row m-3 pt-5 fondo-mv rounded">
                            <div class="col-xl-4 col-lg-6 col-md-12 mx-auto p-3 text-white rounded bg-transp mb-5">
                                <h4>Misión</h4>
                                <p class="mb-2 text-left lead us-font">
                                    Al año 2020 nos vemos fortalecidos y reconocidos institucionalmente como MCC ejecutando proyectos en beneficio de
                                    nuestra comunidad LGTBI de Lima este, logrando obtener un cambio de comportamiento resposable frente a la prevención
                                    de las ITS/VIH/SIDA y el desarrollo sostenido de nuestra población, obteniendo así una comunidad empoderada y
                                    fortalecida en la lucha de la estigma y discriminación; promoviendo nuestros derechos humanos.
                                </p>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-12 mx-auto p-3 text-white rounded bg-transp mb-5">
                                <h4>Visión</h4>
                                <p class="mb-2 text-left lead us-font">
                                    Como MCC buscamos el fortalecimiento de la organizaiones LGTBI de Lima Este y el reconocimiento e igualdad de los
                                    derechos humanos de nuestra comunidad ante a la sociedad,logrando disminuir y erradicar el estigma y discriminación
                                    con énfasis a la disminución de incidencia de las ITS/VIH/SIDA en nuestra comunidad LGTBI de Lima Este.
                                </p>
                            </div>
                        </div>

                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Cerrar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-black-50 mb-0">Talleres</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="~/img/portfolio/portfolio/taller-deportivo.jpg" width="400" alt="">
                        <p class="mb-5 lead us-font">En Chacla Forever ofrecemos una gran varidad de talleres gratuitos deportivos y sociales para todos quienes quieran ser parte de nuestra comunidad.</p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="/actividades">
                            <i class="fa fa-close"></i>
                            Buscar más talleres
                        </a>
                    
                </div>
            </div>
        </div>
     </div>
   </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">Actividades</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="~/img/portfolio/portfolio/eventos.png" alt="">
                        <h5 class="mb-5">Programa: "Expansión y la respuesta nacional al VIH en poblaciones clave y vulnerables de ámbitos urbanos y amazónicos del Perú"</h5>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="/actividades">
                            <i class="fa fa-close"></i>
                            Quiero Participar!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal mfp-hide" id="historia">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-black-50 mb-0">Historia</h2>
                        <hr class="star-dark mb-5">
                        @*<img class="img-fluid mb-5" src="~/img/portfolio/portfolio/taller-deportivo.jpg" width="400" alt="">*@
                        <p class="mb-5 lead us-font">...!INFO</p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="/actividades">
                            <i class="fa fa-close"></i>
                            Cerrar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal mfp-hide" id="objetivos">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-black-50 mb-0">Objetivos</h2>
                        <hr class="star-dark mb-5">
                        @*<img class="img-fluid mb-5" src="~/img/portfolio/portfolio/taller-deportivo.jpg" width="400" alt="">*@
                        <p class="mb-5 lead us-font">...!INFO</p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="/actividades">
                            <i class="fa fa-close"></i>
                            Cerrar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">Hazte la prueba!</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5 rounded-pill" src="~/img/portfolio/portfolio/prueba.png" alt="">
                        <p class="mb-5 lead us-font">El VIH es una infección causada por el virus de inmunodeficia humana,que ataca las defensas del cuerpo,
                        y deja la persona vulnerable a las infecciones y enfermedades.<br/>
                        Puedes hacerte la prueba gratis <a class="portfolio-modal-dismiss" href="#oficinas"> aquí</a></p>
                        <a class="btn btn-primary btn-lg rounded-pill" href="https://fb.com/MCC-Chacla-Forever-513978959017333/">
                            <i class="fa fa-close"></i>
                            Me Interesa!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mision-Vision Modal 7 -->
    <div class="portfolio-modal mfp-hide" id="mision-vision-modal-6">
        <div class="portfolio-modal-dialog">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="img/portfolio/submarine.png" alt="">
                        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Close Project
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.js"></script>

    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                facebook: "513978959017333", // Facebook page ID
                whatsapp: "+51965700628", // WhatsApp number
                call_to_action: "Envíanos un mensaje", // Call to action
                button_color: "#FF6550", // Color of button
                position: "right", // Position may be 'right' or 'left'
                order: "whatsapp,facebook", // Order of buttons
            };
            var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /WhatsHelp.io widget -->

</body>

</html>



