@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OrchardSite.Pages.indexModel

@{
    Layout = "_Layout";
}

<!-- Header -->
<header class="masthead bg-white pt-5 pb-0 text-white text-center">
    <!-- <div class="container px-0">
        <div class="bg">
            <a class="freepik" href="http://www.freepik.com">Designed by Freepik</a>
            <img class="car" src="https://s3.ca-central-1.amazonaws.com/image-web-frankie/suv.svg" alt="car">
        </div>
    </div> -->
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="60000">
                <img src="img/portfolio/slider3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="60000">
                <img src="~/img/portfolio/portfolio/mision-vision.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">

                    <!-- <div class="row">
                          <div class="col-lg-12 ml-auto mr-1 p-4 ">
                            <img src="https://www.chaclaforever.com/wp-content/uploads/2019/05/cropped-real.png" alt="">
                          </div>
                        </div> -->
                    @*<div class="col-lg-8 py-3 px-5 bg-transp mx-auto">
                            <p class="lead">
                                <i class="fas fa-user-friends text-capitalize"></i>  Programa: "Expansión de la respuesta nacional al VIH en poblaciones clave y vulnerables de ámbitos urbanos y amazónicos del Perú".
                            </p>
                        </div>*@

                    <div class="text-center mt-4">
                        <a class="btn btn-xl btn-outline-light ftr" href="https://fb.com/MCC-Chacla-Forever-513978959017333/">
                            <i class="fas fa-notes-medical mr-2"></i>
                            Hazte la prueba
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section class="portfolio pt-5" id="portfolio">
    <div class="container">
        <h3 class="text-center text-uppercase text-secondary mb-0">Servicios</h3>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto mb-2" href="#portfolio-modal-6">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fas fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/prueba.png" alt="">
                </a>
                <h4 class="text-uppercase text-center mb-4">Prueba de VIH</h4>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto mb-2" href="#portfolio-modal-2">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fas fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/deportes.png" alt="">
                </a>
                <h4 class="text-uppercase text-center mb-4">Talleres</h4>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto mb-2" href="#portfolio-modal-3">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fas fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/eventos.png" alt="">
                </a>
                <h4 class="text-uppercase text-center mb-4">Actividades</h4>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="text-white mb-0" id="about">
    <div class="container">
        <h3 class="text-center text-uppercase text-white">Nosotros</h3>
        <hr class="star-light mb-5">
        <div class="row us-font">
            <div class="col-lg-4 col-md-6 ml-auto p-3 m-1 bg-transp">
                <p class="lead">
                    La Asociación Civil CHACLA´ FOREVER, se formó en el año 2000,
                    con un grupo de amigos deportistas gays y mujeres trans, preocupados por los múltiples
                    decesos de nuestras amistades, que no tenían acceso a la salud y a la información en
                    prevención de ITS/VIH/SIDA.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mr-auto p-3 m-1 bg-transp">
                <p class="lead">
                    Es así que empezamos a organizar campeonatos de voley dirigido
                    a la comunidad LTGBI, el cual se invitaba a distintas organizaciones y ONG,
                    realizar campañas de información en ITS/VIH/SIDA y distribución de preservativos.
                </p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light py-2 px-3 js-scroll-trigger" href="#contact">
                <i class="far fa-laugh-beam mr-2"></i>
                Visítanos!
            </a>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contáctate</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-6 mx-auto p-4 border-left border-right">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
    
                <form method="post">       
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre</label>
                        <input asp-for="nombre" type="text" class="form-control" placeholder="nombre">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Correo</label>
                        <input asp-for="correo" type="email" class="form-control" placeholder="correo">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Número</label>
                        <input asp-for="numCel" type="text" class="form-control" placeholder="Número celular">
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mensaje</label>
                        <textarea asp-for="mensaje" class="form-control"  rows="3"></textarea>
                    </div>
                    <br />
                    <input type="submit" />
                </form>

            </div>
            <div class="container col-lg-6 px-0 mx-0">
                <div class="col-lg-12 col-md-8 col-mx-auto mb-4 mine" style="height: 450px;">
                    <div class="d-flex p-2 bg-transparent rounded-top h-25">
                        <div class="container m-0 p-1 text-center us-font">
                            <h5 class="text-uppercase mb-1">Dirección</h5>
                            <p class="lead mb-0">
                                Urb. Miguel Grau Mz. T Lote 14 - Chaclacayo
                            </p>
                        </div>
                    </div>
                    <div class="d-flex p-2 bg-transp h-75">
                        <img src="~/img/portfolio/Ofi-nueva.png" class="rounded img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-md-12 col-mx-auto mr-auto mb-4 mapa overflow-hidden">
                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="845" height="411" id="gmap_canvas" src="https://maps.google.com/maps?q=miguel%20grau%20Chaclacayo&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 411px;
                                width: 845px;
                            }

                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 411px;
                                width: 845px;
                            }
                        </style>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
