@page

@{
    Layout = "_Layout";
}


<section class="text-white mb-0" id="about">
    <div class="container">
        <h3 class="text-center text-uppercase text-white">Nosotros</h3>
        <hr class="star-light mb-5">
        <div class="row us-font">
            <div class="col-lg-4 col-md-6 ml-auto p-3 m-1 bg-transp">
                <p class="lead">
                    La Asociación Civil CHACLA´ FOREVER, se formó en el año 2000,
                    con un grupo de amigos deportistas gays y mujeres trans, preocupados por los múltiples
                    decesos de nuestras amistades, que no tenían acceso a la salud y a la información en
                    prevención de ITS/VIH/SIDA.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mr-auto p-3 m-1 bg-transp">
                <p class="lead">
                    Es así que empezamos a organizar campeonatos de voley dirigido
                    a la comunidad LTGBI, el cual se invitaba a distintas organizaciones y ONG,
                    realizar campañas de información en ITS/VIH/SIDA y distribución de preservativos.
                </p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light py-2 px-3 js-scroll-trigger" href="#contact">
                <i class="far fa-laugh-beam mr-2"></i>
                Visítanos!
            </a>
        </div>
    </div>
</section>




