@page

@{
    Layout = "_Layout";
}

    <div id="carouselExampleSlidesOnly" class="carousel slide mt-4 mb-4" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/portfolio/portfolio/va-3.jpg" class="d-block w-100" alt="Imagen Servicios">
                @*<div class="carousel-caption d-none d-md-block">
                    <h1>GAAAAAAAAAAAAAAAAAAA</h1>
                </div>*@
            </div>
        </div>
    </div>    

 