@page

@{
    Layout = "_Layout";
}

    <div id="carouselExampleSlidesOnly" class="carousel slide mt-4 mb-4" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/portfolio/portfolio/va-6.jpg" class="d-block w-100" alt="Imagen Servicios">
                @*<div class="carousel-caption d-none d-md-block">
                    <h1>GAAAAAAAAAAAAAAAAAAA</h1>
                </div>*@
            </div>
        </div>
    </div>

    <div class="container mt-4 ">

        <div class="info shadow">
            <div class="text">
                <h4 class="orange-text">Vinculación y Tamizaje</h4>
                <p>Lorem ipsum dolor sit amet, hy turpis ac condim, mollis wisi luctus nunc, condimentum adipiscing interdum curabitur, lobortis nostra scelerisque arcu, at tincidunt. Ultrices enim sed libero, vel.</p>
            </div>
            <div class="arrow orange-arrow"></div>
            <div class="block shadow orange-bg">
                <div class="letter orange-text">A</div>
            </div>

        </div>
        <!--info-->

        <div class="info shadow">
            <div class="text">
                <h4 class="dblue-text">Capacitación</h4>
                <p>Lorem ipsum dolor sit amet, hy turpis ac condim, mollis wisi luctus nunc, condimentum adipiscing interdum curabitur, lobortis nostra scelerisque arcu, at tincidunt. Ultrices enim sed libero, vel.</p>
            </div>
            <div class="arrow dblue-arrow"></div>
            <div class="block shadow dblue-bg">
                <div class="letter dblue-text">B</div>
            </div>
        </div>
        <!--info-->

        <div class="info shadow">
            <div class="text">
                <h4 class="red-text">Incidencia Política</h4>
                <p>Lorem ipsum dolor sit amet, hy turpis ac condim, mollis wisi luctus nunc, condimentum adipiscing interdum curabitur, lobortis nostra scelerisque arcu, at tincidunt. Ultrices enim sed libero, vel.</p>
            </div>
            <div class="arrow red-arrow"></div>
            <div class="block shadow red-bg">
                <div class="letter red-text">C</div>
            </div>
        </div>
        <!--info-->
    </div>
    
    <div class="d-flex justify-content-center mb-3">
        <button type="button" class="btn btn-outline-primary">
            <a class="text-black-50" href="#mision-vision">Me Interesa!</a>
        </button>       
    </div>


